{% extends 'base.html.twig' %}

{% block title %}Linwah!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/home.css">
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-12 col-lg-6 banner-home">
        <h6>DISCOVER THE BEST TEACHERS IN TOWN OR ONLINE</h6>
        <h1>Start learning languages easily</h1>
        <p>If you're a <strong>student</strong>, you can find your ideal teacher and keep learning your favourite languages.</p>
        <p>If you're a <strong>teacher</strong>, you can find students and earn some extra money.</p>
    </div>
    <div class="col-6 text-center mt-5 img-home">
        <img src="/img/home/home.png" alt="banner pic" height="400px">
        
    </div> 
</div>
<div class="row justify-content-center">
    <div class="col-10 section-2">
        <div class="row border-md-right border-md-bottom">
            <div class="col-12 col-md-6 col-lg-3 p-4 section-2-card-border-right section-2-card-border-bottom">
                <div class="section-2-card">
                    <h2>1</h1>
                    <h6>Sign up</h6>
                    <p>Become a Linwah member</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 p-4 section-2-card-border-right section-2-card-border-bottom">
                <div class="section-2-card ">
                    <h2>2</h1>
                    <h6>Lesson request</h6>
                    <p>Post a lesson request</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 p-4 section-2-card-border-right section-2-card-border-bottom">
                <div class="section-2-card ">
                    <h2>3</h1>
                    <h6>Teacher contact</h6>
                    <p>Teachers will get in touch</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 p-4">
                <div class="section-2-card">
                    <h2>4</h1>
                    <h6>Learn Languages!</h6>
                    <p>Learn Languages that easily</p>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="row justify-content-center pt-5">
    <div class="col-2 section-3 d-flex align-content-center flex-wrap">
        <div class="text-center">
        <h2>1000+</h2>
        <p>Students have improved their language skills.</p>
        
        </div>
    </div>
    <div class="col-10 col-sm-10 col-md-8 col-xl-7 justify-content-center">
        <h2>How Linwah works?</h2>
        <p>In <strong>Linwah</strong> everything is easier.</p>
        <p>If you are a teacher you can manage your lessons and complete your free time with new pupils. If you are a student, you can find quickly the language teacher closest to you. It is very easy!</p>
        <p>if you are still not a <strong>Linwah</strong> member, sign up in our community.</p>
        {% if not app.user %}
        <div class="row">
            <div class="col-12 col-sm-6 mb-2 mb-sm-0">
                <a href="http://finalproject.test/register/teacher" class="btn btn-primary col-12" role="button">I'm a teacher</a>
            </div>
            <div class="col-12 col-sm-6">
                <a href="http://finalproject.test/register/user" class="btn btn-secondary col-12" role="button">I'm a student</a>
            </div>
        </div>
        {% elseif user.idrole.id == "3" %}
            <a href="http://finalproject.test/lessonrequests/all" class="btn btn-primary" role="button">Find lesson requests</a>
          
        {% else %}

                <a href="http://finalproject.test/register/teacher" class="btn btn-primary" role="button">Become a teacher</a>
          
        {% endif %}
    </div>
</div>
<div class="row justify-content-center mt-5 mb-5">
    <div class="row col-10 p-0 m-0">
        <div class="col-12 col-lg-6 col-xl-6 p-0 pr-lg-4">
            <div class="row m-0">
                <h6>New teachers</h6>
            </div>
            <div class="col-12 p-0" id="top5NewTeachersList"></div>
        </div>
        <div class="col-12 col-lg-6 col-xl-6 p-0 pl-lg-4">
            <div class="row m-0 mt-3 mt-lg-0">
                <h6>New Lesson Requests</h6>
            </div>
            <div class="col-12 p-0" id="top5NewLessonRequestList"></div>
        </div>
    </div>
</div>
    
{% if (user) and (user.idrole.id == "3") %}
    <input type="hidden" value={{user.id}} id="idTeacher"></input>
{% endif %}

{% endblock %}
{% block javascripts %}
<script src="/js/home.js"></script>
{% endblock %}
