{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-6 justify-content-center">
        <h1>New teachers</h1>
    </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 col-sm-9 col-md-8 col-xl-6" id="top5NewTeachersList">
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="/js/home.js"></script>
{% endblock %}
